#category_card_container article{
    display: flex;
    padding:2%;
    background-color: rgb(255, 255, 255);
    margin:auto;
    border-left:5px solid;
    align-items: center;
    justify-content: space-between;
    width:90%;
    margin:5% auto;
    border-radius: 0px 15px 15px 0px;
    box-shadow:1px 0px 3px 1px rgb(220, 220, 220);
}
#category_card_container article div{
    
    margin:2%;
    font-size:5vw;
    
}
#category_card_container article div h3{
    font-size: 5vw;
}
#category_card_container article div p{
    color:black;
    font-size:smaller;
    font-weight: 400;
    margin:5% 0%;
}
#category_card_container article div span{
    border-radius: 6%;
}