#CircleCard_container{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  width:50vw;
  height:50vw;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  font-weight: bold;
  
  border:5px solid rgb(203, 0, 0);
  text-align: center;

}.asdf{
  display: flex;
  justify-content: center;

}
.circlecard_container_fieldset{
  border:none;
  border-radius: 10px;
  padding:5%;
  box-shadow: 1px 0px 10px rgb(124, 23, 23);
  width:80%;
  color:white;
  text-align: center;
  background:rgb(45, 45, 45);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.circlecard_container_fieldset h1{
  margin:10% auto;
}
#reg_btn_container{
  width:100%;
  margin:10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dialog_container{
  background:rgb(31, 31, 31);
  color:White;
}
.dialog_text_container{
  background-color: rgb(0, 0, 0);
  color:white;
}
#dialog_action_container{
  background-color: black;
}
@media only screen and (min-width: 1000px){
  #CircleCard_container{
    width:20vw;
    height:20vw;
  }
  .circlecard_container_fieldset{
    width:30%;
    background:white;
    color:rgb(50,50,50)
  }
  .circlecard_container_fieldset h1{
    margin:5% auto;
   
  }
}